Tugas 5 Pengembangan AI Tanpa Koding.json
{
  "name": "Tugas 5 Pengembangan AI Tanpa Koding",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1HfGWOUPCDbqHm8rMu3pwX7tl_iV25xMp",
          "mode": "list",
          "cachedResultName": "oit",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1HfGWOUPCDbqHm8rMu3pwX7tl_iV25xMp"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "53c6a9b6-c0d6-4c71-89f1-c996dc849e75",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "OxZMwzWDGuPJvG6M",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c00b6f7c-9b2d-4558-a7cb-21afd88cd18a",
              "name": "file_id",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "78f3a677-5e88-42f9-ab14-5db98318e5fc",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.file_id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        416,
        0
      ],
      "id": "fa5ba884-557c-4189-b6f2-053cae57c3a6",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "OxZMwzWDGuPJvG6M",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        624,
        0
      ],
      "id": "69129cee-3bb9-40bf-8758-d092c6e62eb4",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        1040,
        -16
      ],
      "id": "7908fc73-00cf-490b-9b0f-3d5da2018dcc",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "qme0fI8DOuVfKbYv",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file_id",
                "value": "={{ $('Edit Fields').item.json.file_id }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1024,
        208
      ],
      "id": "7a695267-e67e-44a8-b4cf-6a2fbfd74a22",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        992,
        384
      ],
      "id": "fb4bbfec-93a2-4eb5-96f3-d97acaa152da",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        768,
        208
      ],
      "id": "468b3420-eb02-4cef-b23e-4d7cb7cb6a9b",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "i4Grokcgk7HluosN",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        16,
        416
      ],
      "id": "c6161ddc-0191-4307-8bd5-a85eaee4cfc1",
      "name": "When chat message received",
      "webhookId": "272ccb68-04bf-4afe-bd05-b5a3c248fdfb"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$json.chatInput || \"test message\"}}",
        "options": {
          "systemMessage": "Jika informasi tidak tersedia di Tool itu, jawablah 'Mohon maaf, saya belum dapat memberikan jawaban."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        224,
        416
      ],
      "id": "f81abc6c-9601-494f-809c-7eab028ba466",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        96,
        624
      ],
      "id": "30bef9eb-0178-4aea-8744-c82af855bfed",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "i4Grokcgk7HluosN",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Gunakan tool ini untuk mencari informasi mengenai panduan penulisan ilmiah, skripsi, dan tugas akhir mahasiswa STT-NF. Wajib digunakan jika pertanyaan berkaitan dengan akademik.",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "includeDocumentMetadata": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        544,
        512
      ],
      "id": "db92c308-4e66-4326-a21c-f0cbdc1a2b40",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "qme0fI8DOuVfKbYv",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{$json.sessionId || \"test-session\"}}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        240,
        624
      ],
      "id": "937dcea1-12b5-44a8-aff0-3575bcca7403",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "rQchzzjNUzu4Khpe",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "for (const item of $input.all()) {\n  // Fungsi rekursif untuk membersihkan semua string di dalam objek/array\n  const cleanObject = (obj) => {\n    if (typeof obj === 'string') {\n      return obj.replace(/\\u0000/g, '').replace(/\\\\u0000/g, '');\n    } else if (Array.isArray(obj)) {\n      return obj.map(cleanObject);\n    } else if (typeof obj === 'object' && obj !== null) {\n      const cleaned = {};\n      for (const key in obj) {\n        cleaned[key] = cleanObject(obj[key]);\n      }\n      return cleaned;\n    }\n    return obj;\n  };\n\n  // Bersihkan seluruh isi JSON item tersebut\n  item.json = cleanObject(item.json);\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        832,
        0
      ],
      "id": "d6596931-9007-4a55-9836-ddd15641a917",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        640,
        720
      ],
      "id": "a45014f5-8822-46ec-a8af-07d2ce5b51bb",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "i4Grokcgk7HluosN",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "main": [
        []
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "6c906a91-4e64-4a46-bf75-c14059ccf36d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "56459fc98fce519c0c2717436eb7e5c02f8c27b6cacf7c4b3834e41335416be7"
  },
  "id": "isofvmSlXY7GQ12e",
  "tags": []
}